/*body #483600*/

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.btn-primary {
  background: none;
  border: 2px solid #fff;
  border-radius: 2;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-size: 10pt;
}

.btn-primary:hover {
  background: rgba(255,255,255,.1) ;
  border: 2px solid #fff;
}
.btn-primary:active {
  background-color: rgba(255,255,255,.2) !important;
  border: 2px solid #fff !important;
  box-shadow: none;
}

.navbar-fixed-top {
  background: transparent;
  border: 0;
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll {
  height: 60px;
  background: #457223;
}

.navbar-header {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-header {
  height: 60px;
}

.navbar-brand {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-brand {
  height: 60px;
}

.navbar-brand img{
  display: inline-block;
  height: 40px;
  padding-right: 12px;
  vertical-align: baseline;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-brand img{
  height: 30px;
}

@media (min-width: 1200px) {
  .navbar-brand img{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

.navbar-slogan p{
  padding-top: 36px;
  display: inline-block !important;
  font-family: 'Comfortaa', cursive;
  font-size: 9pt;
  color: #fff;
  font-weight: 300;
  vertical-align: baseline;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-slogan p{
  padding-top: 29px;
  font-size: 8pt;
}

.navbar-nav > li > a {
  font-weight: 300;
  font-size: 10pt;
  color: rgba(255, 255, 255, .8) !important;
  padding: 0;
  margin: 28px 15px 17px 15px;
  line-height: 25px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-nav > li > a {
  margin: 15px 15px 17px 15px;
}

.navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-nav > li > a:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-nav > li.active > a {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li.active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse {
    border: none;
    background: #53C419;
  }
}

.navbar-toggle {
  margin-top: 19px;
  margin-right: 10px;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.navbar-scroll .navbar-toggle {
  margin-top: 14px;
  border: none;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle:focus {
  background: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.home-hero-section {
  background: url(https://images.unsplash.com/uploads/14114005966624c90b007/60cc31c4?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=) center right #53C419;
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home-hero-section {
    min-height: 600px;
  }
}

.hero-content {
  padding-top: 80px;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-content{
    padding-top: 20px;
  }
}

.hero-content .left{
  padding: 100px 0px 90px 70px;
}

@media (max-width: 768px) {
  .hero-content .left{
    padding: 50px 20px 40px 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content .left{
    padding: 90px 0px 100px 4px;
  }
}

.hero-content .left h1 {
  font-family: 'Comfortaa', cursive;
}

.hero-content .left p {
  color: rgba(255,255,255,.8);
}

.hero-content .left .btn-primary {
  margin-top: 20px;
}

.hero-content svg {
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .hero-content svg{
    width: 290px;
    display: block;
    margin: auto;
    padding: 10px 0px 0px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content svg{
    width: 373px;
    padding-left: 20px;
    padding-top: 40px;
  }
}

#section1 {
  background-color: #fafaf8;
  min-height: 800px;
}

#section2 {
  background-color: #fff;
  min-height: 800px;
}

#section3 {
  background-color: #fafaf8;
  min-height: 800px;
}

/*----------------------------------------------------------------
    Circle animations
----------------------------------------------------------------*/

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0
    }
    8% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0
    }
    15% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 1
    }
    30% {
        transform: translateX(-50%) translateY(-50%) scale(0.5);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 0
    }
}

.circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-color: rgba(255,255,255,.1);
    border-radius: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    animation: pulse 8s 0s linear infinite;
    pointer-events: none
}

.circle:nth-child(1) {
    animation: pulse 8s 2s linear infinite
}

.circle:nth-child(2) {
    animation: pulse 8s 4s linear infinite
}

.circle:nth-child(3) {
    animation: pulse 8s 6s linear infinite
}
