/*body #483600*/

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.btn-primary {
  background: #3cac54;
  border: none;
  border-radius: 2;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background: #2e8c42;
  border: none;
}
.btn-primary:focus {
  background: #2e8c42;
  border: none;
}
.btn-primary:active {
  background-color: #2e8c42 !important;
  border: none !important;
}

.navbar-fixed-top {
  background: transparent;
  border: 0;
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll {
  background: rgb(58,96,27);
  background: rgba(58,96,27,.64);
  height: 60px;
}

.navbar-scroll-color {
  background: rgb(58,96,27);
  height: 60px;
}

.navbar-header {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .navbar-header {
    width: 365px;
  }
}

.navbar-scroll .navbar-header {
  height: 60px;
}

.navbar-brand {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-brand {
  height: 60px;
}

.navbar-brand img{
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  display: inline-block;
  height: 40px;
  padding-right: 12px;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
}

.navbar-scroll .navbar-brand img{
  height: 30px;
}

@media (min-width: 1200px) {
  .navbar-brand img{
    border-right: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

.navbar-slogan p{
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  color: #fff;
  display: inline-block !important;
  font-family: 'Comfortaa', cursive;
  font-size: 9pt;
  font-weight: 300;
  padding-top: 36px;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
}

.navbar-scroll .navbar-slogan p{
  font-size: 8pt;
  padding-top: 29px;
}

.navbar-nav > li > a {
  font-weight: 300;
  font-size: 10pt;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, .8) !important;
  padding: 0;
  margin: 28px 15px 17px 15px;
  line-height: 25px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-nav > li > a {
  margin: 15px 15px 17px 15px;
}

.navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-nav > li > a:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li > a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
.navbar-nav > li.active > a {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li.active > a:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse.collapse.in {
    border: none;
    background: #53C419;
  }
}

.navbar-toggle {
  border: none;
  margin-top: 19px;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.navbar-scroll .navbar-toggle {
  margin-top: 14px;
  border: none;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle:focus {
  background: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.home-hero-section {
  background: url(../img/hero-section-bg.jpg) center right;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  max-height: 648px;
  padding-top: 70px;
}

@media (max-width: 768px) {
  .home-hero-section {
    min-height: 600px;
  }
}

.hero-content {
  padding-top: 80px;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-content{
    padding-top: 60px;
  }
}

.hero-content .left{
  padding: 100px 0px 90px 70px;
}

@media (max-width: 768px) {
  .hero-content .left{
    padding: 50px 20px 40px 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content .left{
    padding: 90px 0px 100px 4px;
  }
}

.hero-content .left h1 {
  font-family: 'Comfortaa', cursive;
}

@media (max-width: 768px) {
  .hero-content .left h1 {
    font-size: 30px;
  }
}

.hero-content .left p {
  color: rgba(255,255,255,.8);
  font-size: 11.3pt;
}

.hero-content .left .btn-primary {
  background: none;
  border: 2px solid #fff;
  border-radius: 2;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .hero-content .left .btn-primary {
    margin-top: 10px;
  }
}

.hero-content .left .btn-primary:hover {
  background: rgb(255,255,255);
  background: rgba(255,255,255,.1) ;
  border: 2px solid #fff;
}
.hero-content .left .btn-primary:active {
  background-color: rgb(255,255,255) !important;
  background-color: rgba(255,255,255,.2) !important;
  border: 2px solid #fff !important;
  box-shadow: none;
}

.hero-content svg {
  display: block;
  margin: auto;
  width: 350px;
}

@media (max-width: 768px) {
  .hero-content svg{
    width: 290px;
    display: block;
    margin: auto;
    padding: 10px 0px 0px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content svg{
    width: 360px;
    padding-left: 20px;
    padding-top: 40px;
  }
}

.product-section {
  background-color: #fff;
  padding: 140px 0 100px 0;
}

@media (max-width: 768px) {
  .product-section {
    padding: 0 0 40px 0;
  }
}

.product-section .product-content .product-description {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .product-section .product-content .product-description {
    margin-bottom: 80px;
  }
}

.product-section .product-content .product-description .left {
  text-align: center;
}

@media (max-width: 768px) {
  .product-section .product-content .product-description .left {
    padding: 70px 0 30px 0;
  }
}

.product-section .product-content .product-description .right {
  text-align: left;
  padding-top: 6px;
  padding-right: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-section .product-content .product-description .right{
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .product-section .product-content .product-description .right {
    padding-right: 15px;
    padding-top: 20px;
  }
}

.product-section .product-content .product-description .right h2{
  font-family: 'Comfortaa', cursive;
  position: relative;
  padding-bottom: 15px;
  color: #2f312f;
}

@media (max-width: 768px) {
  .product-section .product-content .product-description .right h2{
    margin-top:20px;
  }
}

.product-section .product-content .product-description .right h2:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  border-bottom: 4px solid #eee;
}

.product-section .product-content .product-description .right h3{
  color: #3cac54;
}

.product-section .product-content .product-description .right p{
  color: #a6aaae;
  padding-top: 20px;
  text-align: justify;
}

.product-section .product-content .product-steps {
  text-align: center;
  position: relative;
}

.product-section .product-content .product-steps h3 {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 60px;
  color: #2f312f;
}

.product-section .product-content .product-steps:before {
  top: 145px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 70%;
  margin-left: 15%;
  height: 2px;
  background-color: #e2f3e6;
}

@media (max-width: 768px) {
  .product-section .product-content .product-steps:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .product-section .product-content .product-steps .step {
    margin-bottom: 50px;
  }
  .product-section .product-content .product-steps .step:last-of-type {
    margin-bottom: 30px;
  }
}

.product-section .product-content .product-steps .step img {
  width: 120px;
}
.product-section .product-content .product-steps .step h4 {
  color: #3cac54;
  font-family: 'Comfortaa', cursive;
  margin: 30px 0 20px 0;
}

.product-section .product-content .product-steps .step p {
  color: #a6aaae;
  padding: 0 15px;
}

.product-section .product-content .product-social-network {
  margin-top: 90px;
  margin-bottom: 20px;
}

@media (max-width: 768px){
  .product-section .product-content .product-social-network {
    margin-top: 0;
    margin-bottom: 70px;
  }
}

.product-section .product-content .product-social-network .right {
  text-align: center;
  padding-top: 20px;
}

.product-section .product-content .product-social-network .left {
  text-align: left;
  padding-left: 140px;
  padding-top: 10px;
}

@media (min-width : 992px) and (max-width: 1199px){
  .product-section .product-content .product-social-network .left{
    padding-left: 90px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-section .product-content .product-social-network .left{
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .product-section .product-content .product-social-network .left {
    padding-left: 15px;
    margin-bottom: 60px;
  }
}

.product-section .product-content .product-social-network .left h2{
  font-family: 'Comfortaa', cursive;
  position: relative;
  padding-bottom: 15px;
  color: #2f312f;
}

@media (max-width: 768px) {
  .product-section .product-content .product-social-network .left h2{
    margin-top:60px;
  }
}

.product-section .product-content .product-social-network .left h2:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  border-bottom: 4px solid #eee;
}

.product-section .product-content .product-social-network .left h3{
  color: #3cac54;
}

.product-section .product-content .product-social-network .left p{
  color: #a6aaae;
  padding-top: 20px;
  text-align: justify;
}

.about-us-section {
  background-color: #fafaf8;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 20px 0 70px 0;
  }
}

.about-us-section .about-us-content .about-us-description {
  margin-bottom: 90px;
}

.about-us-section .about-us-content .about-us-description .left {
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .about-us-section .about-us-content .about-us-description .left {
    padding-top: 70px;
  }
}

.about-us-section .about-us-content .about-us-description .right {
  text-align: left;
  padding-right: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-us-section .about-us-content .about-us-description .right{
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .about-us-section .about-us-content .about-us-description .right {
    padding-right: 15px;
  }
}

.about-us-section .about-us-content .about-us-description .right h2{
  font-family: 'Comfortaa', cursive;
  position: relative;
  padding-bottom: 15px;
  color: #2f312f;
}

.about-us-section .about-us-content .about-us-description .right h2:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  border-bottom: 4px solid #eee;
}

.about-us-section .about-us-content .about-us-description .right h3{
  color: #3cac54;
}

.about-us-section .about-us-content .about-us-description .right p{
  color: #a6aaae;
  padding-top: 20px;
  text-align: justify;
}

.about-us-section .about-us-content .about-us-team {
  text-align: center;
}

.about-us-section .about-us-content .about-us-team.line-1 {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .about-us-section .about-us-content .about-us-team.line-1 {
    margin-bottom: 0;
  }
}

.about-us-section .about-us-content .about-us-team h3 {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 60px;
  color: #2f312f;
}

@media (max-width: 768px) {
  .about-us-section .about-us-content .about-us-team .member {
    margin-bottom: 50px;
  }

  .about-us-section .about-us-content .about-us-team .member:last-of-type {
    margin-bottom: 0;
  }
}

.about-us-section .about-us-content .about-us-team .member img {
  width: 150px;
}

.about-us-section .about-us-content .about-us-team .member h4 {
  color: #3cac54;
  font-family: 'Comfortaa', cursive;
  margin: 30px 0 20px 0;
}

.about-us-section .about-us-content .about-us-team .member p {
  color: #a6aaae;
}

.contact-us-section {
  background-color: #ffffff;
  padding: 50px 0 0 0;
}

@media (max-width: 768px) {
  .contact-us-section {
    padding: 0;
  }
}

.contact-us-section .contact-us-content .left {
  text-align: left;
  padding-top: 20px;
  padding-right: 60px;
}

@media (max-width: 768px) {
  .contact-us-section .contact-us-content .left {
    padding-right: 15px;
  }
}

.contact-us-section .contact-us-content .left h2{
  font-family: 'Comfortaa', cursive;
  position: relative;
  padding-bottom: 15px;
  color: #2f312f;
}

@media (max-width: 768px) {
  .contact-us-section .contact-us-content .left h2{
    margin-top:20px;
  }
}

.contact-us-section .contact-us-content .left h2:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  border-bottom: 4px solid #eee;
}

.contact-us-section .contact-us-content .left h3{
  color: #3cac54;
}

.contact-us-section .contact-us-content .left p{
  color: #a6aaae;
  padding-top: 20px;
  text-align: justify;
}

.contact-us-section .contact-us-content .left p:last-of-type{
  font-size: 13pt;
}

.contact-us-section .contact-us-content .right {
  padding-top: 20px;
}

.btn-send {
  margin-right: 30px;
  margin-top: 20px;
}

.map {
  height: 300px;
  margin-top: 80px;
}

.collaborators-section {
  padding: 100px 0 0 0;
}

@media (max-width: 768px) {
  .collaborators-section {
    padding: 80px 0 0 0;
  }
}

.collaborators-section .collaborators-content {
  text-align: center;
}

.collaborators-section .collaborators-content h5 {
  margin-bottom: 20px;
  margin-right: 50px;
  color: #c3c3c3;
  display: inline-block;
}

.collaborators-section .collaborators-content .collaborator-logo img, .collaborators-content img {
  height: 50px;
}

@media (max-width: 768px) {
  .collaborators-section .collaborators-content .collaborator-logo img, .collaborators-content img {
    margin-top: 20px;
  }
}

.collaborators-section .collaborators-content a {
  margin-right: 60px;
}

.visit-us-section {
  background: url('../img/visit-us-bg.jpg') center;
  background-size: cover;
  padding: 50px 0;
}

.visit-us-section .visit-us-content {
  text-align: center;
  color: #fff;
}

.visit-us-section .visit-us-content h3 {
  font-family: 'Comfortaa', cursive;
}

.visit-us-section .visit-us-content h4 {
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
}

footer {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

footer .footer-nav{
  margin-top: 10px;
  float: right;
}

@media (max-width: 768px) {
  footer .footer-logo{
    text-align: center;
  }
  footer .footer-nav{
    float: none;
    text-align: center;
  }
  footer .footer-nav ul{
    margin: 0;
    padding: 0;
  }
}

footer .footer-nav li{
  list-style: none;
  margin-right: 20px;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .footer-nav li{
    margin-right: 15px;
  }
}

footer .footer-nav li:last-of-type{
  margin-right: 0;
}

footer .footer-nav li a{
  text-decoration: none;
  color: #2f312f;
  font-size: 10pt;
}

footer .footer-nav li a:hover{
  color: #3cac54;
}

footer .second-line {
  color: #c3c3c3;
}

@media (max-width: 768px) {
  footer .second-line{
    margin-top: 20px;
  }
}

footer .copyright {
  margin-top: 12px;
  font-size: 9pt;
}

@media (max-width: 768px) {
  footer .copyright{
    text-align: center;
  }
}

footer .social-links{
  float: right;
  margin-top: 10px;
}

@media (max-width: 768px) {
  footer .social-links{
    text-align: center;
    float: none;
  }
}

footer .social-links a{
  text-decoration: none;
  font-size: 22pt;
  margin-right: 15px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  footer .social-links a{
    font-size: 12pt;
  }
}

footer .social-links a:first-of-type{
  margin-left: 20px;
}

footer .social-links a:last-of-type{
  margin-right: 0;
}

footer .social-links .facebook-link {
  color: #3b5998;
}

footer .social-links .twitter-link {
  color: #00aced;
}

footer .social-links .instagram-link {
  color: #cd486b;
}

/*----------------------------------------------------------------
    Circle animations
----------------------------------------------------------------*/

@keyframes pulse {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(0);
    }
    8% {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(0);
    }
    15% {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(0.1);
    }
    30% {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(0.5);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

.circle {
  animation: pulse 8s 0s linear infinite;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.1);
  border-radius: 350px;
  display: block;
  height: 0;
  left: 50%;
  padding-bottom: 100%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0);
  transform: translateX(-50%) translateY(-50%) scale(0);
  width: 100%;
}

.circle:nth-child(1) {
  animation: pulse 8s 2s linear infinite
}

.circle:nth-child(2) {
  animation: pulse 8s 4s linear infinite
}

.circle:nth-child(3) {
  animation: pulse 8s 6s linear infinite
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.menu {
  height: 30px;
  padding: 8px 5px;
  -moz-transition: 0.2s ease-in-out;
  position: fixed;
  right: 20px;
  top: 25px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 30px;
  z-index: 1034;
}

.menu-scroll {
  top:15px;
}

.menu:hover {
  cursor: pointer;
}

.menu-icon {
	position: absolute;
  width: 20px;
  height: 14px;
}

.menu-line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 { bottom: 0; }

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #3cac54;
  opacity: 0;
  visibility: hidden;
  z-index: 1033;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay ul li {
  list-style: none;
  margin: 15px 0;
  width: auto;
}


.overlay ul li a{
  font-size: 16pt;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  width: auto;
}

.overlay ul li a:hover{
  font-size: 16pt;
  text-decoration: none;
  color: rgba(255,255,255,.7);
}

.overlay ul li a:before{
  display: none;
}

.overlay ul li.active a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.overlayopen {
  opacity: 1;
  visibility: visible;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

textarea{
  min-height: 120px;
  max-width: 100%;
  resize: none;
}

/* Change autofill color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #2f312f !important;
}

.input__field {
	position: relative;
	display: block;
	float: right;
  font-size: 12pt;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 10pt;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Isao */
.input__field--isao {
	z-index: 10;
	padding: 0.75em 0.1em 0.25em;
	width: 100%;
	background: transparent;
	color: #2f312f;
}

.input__label--isao {
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
	color: #b7b7b7;
	text-align: left;
}

.input__label--isao::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 3px;
	background: #d6d6d6;
	-webkit-transform: scale3d(1, 0.4, 1);
	transform: scale3d(1, 0.4, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
	color: #3cac54;
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before {
	background-color: #3cac54;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao {
	pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
	padding: 0.75em 0.15em;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

#toast-container > div {
  box-shadow: none;
  top: 80px;
  padding-left: 15px;
  font-family: 'Comfortaa', cursive;
  font-size: 10pt;
}

#toast-container > :hover {
    box-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

#toast-container > .toast {
    background-image: none !important;
}
