/*body #483600*/

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.btn-primary {
  background: none;
  border: 2px solid #fff;
  border-radius: 2;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background: rgb(255,255,255);
  background: rgba(255,255,255,.1) ;
  border: 2px solid #fff;
}
.btn-primary:active {
  background-color: rgb(255,255,255) !important;
  background-color: rgba(255,255,255,.2) !important;
  border: 2px solid #fff !important;
  box-shadow: none;
}

.navbar-fixed-top {
  background: transparent;
  border: 0;
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll {
  background: rgb(58,96,27);
  background: rgba(58,96,27,.64);
  height: 60px;
}

.navbar-header {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (min-width: 1200px) {
  .navbar-header {
    width: 365px;
  }
}

.navbar-scroll .navbar-header {
  height: 60px;
}

.navbar-brand {
  height: 70px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-brand {
  height: 60px;
}

.navbar-brand img{
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  display: inline-block;
  height: 40px;
  padding-right: 12px;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
}

.navbar-scroll .navbar-brand img{
  height: 30px;
}

@media (min-width: 1200px) {
  .navbar-brand img{
    border-right: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}

.navbar-slogan p{
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  color: #fff;
  display: inline-block !important;
  font-family: 'Comfortaa', cursive;
  font-size: 9pt;
  font-weight: 300;
  padding-top: 36px;
  transition: 0.2s ease-in-out;
  vertical-align: baseline;
}

.navbar-scroll .navbar-slogan p{
  font-size: 8pt;
  padding-top: 29px;
}

.navbar-nav > li > a {
  font-weight: 300;
  font-size: 10pt;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, .8) !important;
  padding: 0;
  margin: 28px 15px 17px 15px;
  line-height: 25px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-scroll .navbar-nav > li > a {
  margin: 15px 15px 17px 15px;
}

.navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-nav > li > a:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li > a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
.navbar-nav > li.active > a {
  background-color: transparent !important;
  color: #ffffff !important;
}
.navbar-nav > li.active > a:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse.collapse.in {
    border: none;
    background: #53C419;
  }
}

.navbar-toggle {
  border: none;
  margin-top: 19px;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.navbar-scroll .navbar-toggle {
  margin-top: 14px;
  border: none;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle:focus {
  background: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.home-hero-section {
  background: url(../img/hero-section-bg.jpg) center right;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 450px;
  max-height: 650px;
  padding-top: 70px;
}

@media (max-width: 768px) {
  .home-hero-section {
    min-height: 600px;
  }
}

.hero-content {
  padding-top: 80px;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-content{
    padding-top: 60px;
  }
}

.hero-content .left{
  padding: 100px 0px 90px 70px;
}

@media (max-width: 768px) {
  .hero-content .left{
    padding: 50px 20px 40px 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content .left{
    padding: 90px 0px 100px 4px;
  }
}

.hero-content .left h1 {
  font-family: 'Comfortaa', cursive;
}

.hero-content .left p {
  color: rgba(255,255,255,.8);
}

.hero-content .left .btn-primary {
  margin-top: 20px;
}

.hero-content svg {
  display: block;
  margin: auto;
  width: 350px;
}

@media (max-width: 768px) {
  .hero-content svg{
    width: 290px;
    display: block;
    margin: auto;
    padding: 10px 0px 0px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content svg{
    width: 360px;
    padding-left: 20px;
    padding-top: 40px;
  }
}

#product {
  background-color: #fff;
  padding: 140px 0;
}

@media (max-width: 768px) {
  #product {
    padding: 100px 0;
  }
}

#product .product-content .left {
  text-align: center;
}

#product .product-content .right {
  text-align: left;
  padding-top: 20px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  #product .product-content .right {
    padding-right: 15px;
  }
}

#product .product-content .right h2{
  font-family: 'Comfortaa', cursive;
  position: relative;
  padding-bottom: 15px;
}

#product .product-content .right h2:before {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  border-bottom: 4px solid #eee;
}

#product .product-content .right h3{
  color: #81996d;
}

#product .product-content .right p{
  color: #a6aaae;
  padding-top: 20px;
}

#section2 {
  background-color: #fafaf8;
  min-height: 800px;
}

#section3 {
  background-color: #fff;
  min-height: 800px;
}

/*----------------------------------------------------------------
    Circle animations
----------------------------------------------------------------*/

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0
    }
    8% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0
    }
    15% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 1
    }
    30% {
        transform: translateX(-50%) translateY(-50%) scale(0.5);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 0
    }
}

.circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: block;
    background-color: rgba(255,255,255,.1);
    border-radius: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    animation: pulse 8s 0s linear infinite;
    pointer-events: none
}

.circle:nth-child(1) {
    animation: pulse 8s 2s linear infinite
}

.circle:nth-child(2) {
    animation: pulse 8s 4s linear infinite
}

.circle:nth-child(3) {
    animation: pulse 8s 6s linear infinite
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 25px;
  right: 20px;
  height: 30px;
	width: 30px;
  padding: 8px 5px;
  z-index: 1034;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu-scroll {
  top:15px;
}

.menu:hover {
  cursor: pointer;
}

.menu-icon {
	position: absolute;
  width: 20px;
  height: 14px;
}

.menu-line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-line-1 { top: 0; }

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-line-3 { bottom: 0; }

.menu.open .menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg);
}

.menu.open .menu-line-2 {
  opacity: 0;
}

.menu.open .menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg);
}

.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #81996d;
  opacity: 0;
  visibility: hidden;
  z-index: 1033;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay ul li {
  list-style: none;
  margin: 15px 0;
  width: auto;
}


.overlay ul li a{
  font-size: 16pt;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  width: auto;
}

.overlay ul li a:hover{
  font-size: 16pt;
  text-decoration: none;
  color: rgba(255,255,255,.7);
}

.overlay ul li a:before{
  display: none;
}

.overlay ul li.active a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.overlayopen {
  opacity: 1;
  visibility: visible;
}
